/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2011 / 11 
	
***********************************************************************************************/

/* Reset 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
@import url("reset.css");

/* 頁面主體 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	margin: 0;
	padding:0;
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Helvetica, Arial, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#2c4051}
a:link {text-decoration:none; color:#2c4051}
a:visited {text-decoration:none; color:#2c4051}
a:hover {text-decoration: underline; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}

#wrap{
	display:block;
	width:740px;
	height:440px;
	padding:30px;
	background:url(../images/bg_project.jpg) no-repeat}
h1, h2, #project_title h4{ display:none}

#project_title{
	display:block;
	padding-left:12px}
#project_title h3{
	display:block;
	font-size:1.188em;
	line-height:22px;
	color:#FFF;
	letter-spacing:1px}
#project_title ul{
	padding-top:5px}
#project_title li{
	display:inline;
	margin-right:5px;
	padding:1px 5px;
	background:#5dd7ef;
	font-size:0.813em;
	color:405b73;}
	
#project_main{
	display:block;
	width:740px}
	
#project_left{
	display:block;
	position:relative;
	float:left;
	width:505px;
	padding:33px 0 0 10px}
#elmo_album{
	width: 470px;	/* 圖片的寬 */
	height: 328px;	/* 圖片的高 + 30 */
	}	
.abgne-player {
	width: 470px;	/* 圖片的寬 */
	height: 298px;	/* 圖片的高 */
	position: relative;
	overflow: hidden}
.abgne-player ul.abgne-list {
	position: absolute;
	width: 9999px;
	height: 100%}
.abgne-player ul.abgne-list li {
	float: left;
	width: 470px;	/* 圖片的寬 */
	height: 100%}
.abgne-player ul.abgne-list img{
	width: 100%;
	height: 100%;
	border: 0}
.abgne-control {
	height: 24px;
	margin-top:10px;
	padding: 3px 3px 3px 0;
	color: #fff;
	font-size: 13px}
.abgne-control ul {float: left; margin-top:20px}
.abgne-control ul li {
	float: left;
	padding: 0 5px;
	line-height: 20px;
	margin: 2px;
	background: #3d5a70;
	border:1px solid #5dd7ef;
	cursor: pointer}
.abgne-control ul.numbers {
	margin-left: 13px}
.abgne-control ul li.current {
	background: #5dd7ef;
	border:1px solid #5dd7ef;
	color:#2c4051}
.abgne-control ul li.hover {
	background: #5dd7ef;
	color:#FFF}

#gotourl{
	display:block;
	position:absolute;
	top:370px;
	right:7px;
	background: url(../images/bg_biuepoint.png) 0 -59px no-repeat;
	width:88px;
	height:19px;
	padding:0 0 0 30px;
	font-size:0.813em;
	line-height:17px}
#gotourl:hover{ background: url(../images/bg_biuepoint.png) 0 -40px no-repeat;}	
#gotourl a:link, #gotourl a:visited{text-decoration:none; color:#FFF}
 #gotourl a:hover{text-decoration:none; color:#2c4051}

	
#project_right{
	display:block;
	float:right;
	width:205px;
	padding:33px 10px 0;}
#project_right h3{
	display:block;
	height:22px;
	font-size:1em;
	color:#FFF;
	background: url(../images/bg_biuepoint.png) no-repeat;
	padding:0 0 15px 25px;
	line-height:18px}
#project_right p{
	font-size:0.938em;
	line-height:22px;
	color:#2c4051;
	margin-bottom:10px;
	color:#F5F5F5;
	text-align: justify;
    text-justify:inter-ideograph;}	
