/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Build: v1.6
	Date: 2011/10~2013/02   

***********************************************************************************************
		1 通用
		2 首頁
		    2.1 頂端區塊
			2.2 Banner 區塊
			2.3 部落格新訊
			2.4 完美底部佈局
			2.5 版權列區塊
		3 關於我們
		4 作品展示
		5 聯絡我們
		6 線上諮詢
		7 403、404頁
		8 設計觀點
		9 Retina圖片設定 
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	margin: 0;
	padding:0;
	background: url(../images/bg_website.png);
	font-family:/*"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",*/Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#565555}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

.txt_bluelight{ color:#37F5FB}
.txt_bluee{ color:#40a3be; font-weight:bold; padding-right:10px; letter-spacing:1px}
.ccenter{ margin:0 auto}
.txt_strong{ font-size:1em; font-weight: bold;}

/* 2. 首頁  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ display:block; width:954px; margin:0 auto}

/*2.1 頂端區塊---------------------------*/
#header{ display:block; width:954px}
#head_left{ display:block; float:left; width:112px}
#head_left h1 a{ display:block; width:112px; height:200px; text-indent:-9999px; background:url(../images/bg_h1.png) no-repeat}
#head_right{ display:block; position:relative; float:right; width:842px}
	
#nav{ display:block; position:absolute; top:0; right:20px}
#nav h3{ display:none}
#nav ul{}
#nav li{ list-style:none; float: left;}
#nav li a{
	display:block;
	width:138px;
	height:77px;
	overflow:hidden;
	margin-left:20px;
	text-indent:-9999px}
/*#nav li a:hover{ height:139px}*/
#nav li a.nav_00{ background:url(../images/bg_nav.png) 0 -587px no-repeat}	
#nav li a.nav_01{ background:url(../images/bg_nav.png) no-repeat}
#nav li a.nav_02{ background:url(../images/bg_nav.png) 0 -149px no-repeat}
#nav li a.nav_03{ background:url(../images/bg_nav.png) 0 -298px no-repeat}
#nav li a.nav_04{ background:url(../images/bg_nav.png) 0 -447px no-repeat}

/*2.2 Banner 區塊---------------------------*/
#main_image{
	display:block;
	width:790px;
	padding:154px 0 0 50px}
#banner{ display:block; position:relative; float:left; width:600px; height:302px}
#banner h3{ display:none}
#banner_main{ 
    display:block; 
	position:absolute; 
	width:600px; 
	height:274px; 
	background:#FFF; 
	top:0; 
	left:0; 
	z-index:99; 
	overflow:hidden;}
#banner_btn{
	display:block;
	position:absolute;
	width:120px;
	height:18px;
	top:250px;
	left:240px;
	z-index:200;
	text-indent:-9999px}
#banner_btn a{
	display:block;
	float:left;
	width:14px;
	height:14px;
	background: url(../images/btn_banner.png) 0 -14px no-repeat;
	margin:0 8px }
#banner_btn a.activeSlide, #banner_btn a:hover{ background: url(../images/btn_banner.png) no-repeat}
#gray_box{ display:block; position:absolute; background: url(../images/bg_graybox.png) no-repeat; width:600px; height:25px; top:274px; left:0}

#our_works{
	display:block;
	float: right;
	width:130px;
	height:302px;
	margin-right:15px}
#our_works h3{ display:none}	
#our_works .o_title{
	display:block;
	position:relative;
	background:url(../images/ourwork_title.png) no-repeat;
	text-indent:-9999px;
	width:130px;
	height:53px;
	margin:0;
	padding-bottom:5px}
.mosaic-block {
	position:relative;
	overflow:hidden;
	width:130px;
	height:120px;
	background:url(../images/progress.gif) no-repeat center center}
.mosaic-backdrop {
    display:none;
	position:absolute;
	top:0;
	height:100%;
	width:100%;}
.mosaic-overlay {
	display:none;
	z-index:5;
	position:absolute;
	width:100%;
	height:100%;}
.circle .mosaic-overlay {
	background:url(../images/hover-magnify.png) no-repeat center center;
	opacity:0;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
	filter:alpha(opacity=00);*/
	display:none;}	
 
/*2.3 部落格新訊---------------------------*/
#bodyer{ clear:both; display:block}
#blogbox{ display:block; position:relative; width:954px; padding-top:30px; margin-bottom:25px}
#blogbox h3{ display:block; float:left; width:226px; height:79px; background:url(../images/bg_blog-title.png) 10px 0 no-repeat; text-indent:-9999px}
#blogbox ul{}
#blogbox li{
	display:block;
	float:left;
	width:333px;
	font-size:0.813em;
	padding:0 15px}
#blogbox .blog_photo, #blog_list .blist_photo{
	display:block;
	float:left;
	background:url(../images/bg_blogfoto.png) no-repeat;
	width:98px;
	height:75px;
	padding:2px 0 0 2px}
#blogbox .blog_text{
	display:block;
	float:left;
	width:203px;
	padding:0 15px}
#blogbox .blog_text h4{ 
    font-size:1.188em; 
	color:#cbfcfe; 
	margin:0; 
	letter-spacing:1px;
	padding:3px; 
	line-height:18px;/*background:#547C9B*/}
#blogbox .blog_text h4 a:link {text-decoration:none; color:#cbfcfe}
#blogbox .blog_text h4 a:visited {text-decoration:none; color:#cbfcfe}
#blogbox .blog_text h4 a:hover {text-decoration:underline; color:#cbfcfe}
#blogbox .blog_text p{ color:#244159; line-height:20px; padding:0 0 0 5px; margin:0}
#blogbox .readmore a{ position:absolute; top:95px; left:500px; color:#FFF; text-decoration:none}
#blogbox .readmore2 a{ position:absolute; top:95px; left:877px; color:#FFF; text-decoration:none}
.line_white{ border-right:1px solid #CBFCFE /*#FFF*/}

/*2.4 完美底部佈局---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:40px}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*2.5 版權列---------------------------*/
#footer{ 
    display:block;
    position: relative;
    width:100%;
    background:url(../images/bg_footer.png);
    margin-top: -40px;
    height:40px}
#footer_main{ display:block; width:954px; margin:0 auto}
#footer_main p{ margin:0; padding:0}
#copyright{
	display:block;
	float:left;
	width:700px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:0.813em; 
	text-align:right; 
	color:#FFF;
	padding:10px 50px 0 0}
#w3c_tag{display:block;	float:right; width:138px; padding-top:5px}
#w3c_tag .w01, #w3c_tag .w02, #w3c_tag .w03, #w3c_tag .w04{
	display:block; 
    float:left; 
    width:27px;
	text-indent:-9999px; }
#w3c_tag .w01{ 
   height:30px; 
   background:url(../images/icon_google_app.png) 0 -72px no-repeat; 
   margin-right:5px}
#w3c_tag .w02{ 
   height:31px; 
   background:url(../images/icon_google_app.png) 0 -109px no-repeat;}
#w3c_tag .w03{ 
    height:27px; 
	background:url(../images/icon_google_app.png) 0 -37px no-repeat; 
	margin:2px 10px 0 0} 
#w3c_tag .w04{
	height:27px; 
	background:url(../images/icon_google_app.png) no-repeat; 
	margin:2px 10px 0 0}


/* 3. 關於我們 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#page_main{ display:block; width:778px; margin-bottom:50px}
#page_top{ display:block; width:778px; height:110px; background:url(../images/bg_page.png) no-repeat;}
#page_top .pato_left{ display:block; float:left; width:532px; height:110px; text-indent:-9999px}
#page_top .pato_01{ background:url(../images/bg_h3.png) no-repeat}
#page_top .pato_02{ background:url(../images/bg_h3.png) 0 -120px no-repeat}
#page_top .pato_03{ background:url(../images/bg_h3.png) 0 -240px no-repeat}
#page_top .pato_04{ background:url(../images/bg_h3.png) 0 -360px no-repeat}
#page_top .pato_05{ background:url(../images/bg_h3.png) 0 -480px no-repeat}
#page_top .pato_06{ background:url(../images/bg_h3.png) 0 -600px no-repeat}
#page_top .pato_right{ 
    display:block; 
	float:right;
	width:223px; 
	font-size:0.813em; 
	line-height:20px; 
	color:#FFF; 
	text-align:right; 
	padding:2px 23px 0 0;
	letter-spacing:1px}
#page_top .pato_right a:link, #page_top .pato_right a:visited{ color:#FFF; text-decoration:none}
#page_top .pato_right a:hover{ color:#04729B; text-decoration:underline}

#page_middle{ display:block; width:724px; background:#fff; padding:30px 20px 0 34px}
#page_middle h4{ display:block; margin:0 0 15px; padding:0; text-indent:-9999px}
#page_middle .pt_01{ width:318px; height:22px; background:url(../images/title_about.png) no-repeat}
#page_middle .pt_02{ width:318px; height:22px; background:url(../images/title_about.png) 0 -22px no-repeat; margin-top:25px}
#page_middle .pt_03{ width:318px; height:22px; background:url(../images/title_about.png) 0 -44px no-repeat; margin-top:25px}
#page_middle .pt_08{ width:318px; height:22px; background:url(../images/title_about.png) 0 -154px no-repeat}
#page_middle .pt_09{ width:318px; height:22px; background:url(../images/title_about.png) 0 -176px no-repeat}
#page_middle p{ font-size:0.813em; line-height:24px; letter-spacing:1px; padding-bottom:15px}
#page_middle strong{ color:#5EB2C9}

#page_down{ display:block; width:778px; height:40px; background:url(../images/bg_page.png) 0 -130px no-repeat}

#portfolio{
	display:block;
	float:left;
	width:259px;
	height:226px;
	overflow:hidden;
	padding-bottom:30px}
.section_01{
	display:block;
	float:right;
	width:430px;
	padding:20px 0 0 35px;}
.section_01 .dot_01, .section_01 .dot_02{display:block; height:18px}	
.section_01 .dot_01{background:url(../images/bg_dot.png) no-repeat; margin-bottom:15px}
.section_01 .dot_02{background:url(../images/bg_dot.png) 0 -18px no-repeat; margin:15px 0 0 380px}
.section_01 p{ padding:0 30px}	
.section_02{
	display:block;
	float:left;
	width:290px;
	padding:5px 0 0 20px}
.secpic_01{
	display:block;
	float:right;
	width:381px;}
.secpic_02{
	display:block;
	float:left;
	width:274px;
	padding:5px 0 30px 20px}
.section_03{
	display:block;
	float:right;
	width:376px;
	padding-top:80px}
.btn_callme{
	display: inline-block;
	width:120px;
	height:34px;
	background:url(../images/btn_callme.jpg) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	border:none;
	vertical-align:middle;
	margin-left:10px}
.btn_callme:hover{background:url(../images/btn_callme.jpg) 0 -34px no-repeat}		

/* 4. 作品展示 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#pj_title_left{ display:block; float:left; width:361px; padding-top:15px}
#pj_title_left h4{ float:left}
#pj_title_left h5{
	display:block;
	background:url(../images/icon_title.png) no-repeat;
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:1.25em;
	text-indent:20px;
	letter-spacing:1px;
	color:#007DB3}
#page_middle .pt_06{ width:92px; height:22px; background:url(../images/title_about.png) 0 -110px no-repeat}
#page_middle .pt_07{ width:92px; height:22px; background:url(../images/title_about.png) 0 -132px no-repeat}
#pj_title_left ul{ display:block; float:left; padding-left:15px}
#pj_title_left li{ float:left; margin-left:5px; font-family:Arial, Helvetica, sans-serif; font-size:0.813em;}
#pj_title_left li a:link {text-decoration:none; color:#fff; background:#3fb5f8; padding:3px 7px}
#pj_title_left li a:visited {text-decoration:none; color:#fff; background:#3fb5f8; padding:3px 7px}
#pj_title_left li a:hover {text-decoration:none; color:#fff; font-weight:bold; background:#007DB3; padding:3px 7px}

#pj_title_right, #pj_tag_list{ 
   display:block; 
   float:right; 
   width:345px; 
   text-align:right; 
   font-family:Arial, Helvetica, sans-serif; 
   font-size:0.813em;
   padding:15px 16px 0 0}
#pj_title_right a:link {text-decoration:none; color:#fff; background:#3fb5f8; padding:3px 7px}
#pj_title_right a:visited {text-decoration:none; color:#fff; background:#3fb5f8; padding:3px 7px}
#pj_title_right a:hover {text-decoration:none; color:#fff; background:#007DB3; padding:3px 7px}

#pj_tag_list ul{ text-align:right; padding-top:2px}
#pj_tag_list li{
	display:inline;
	margin-right:5px;
	padding:2px 8px;
	border:1px solid #c2c3c3;
	font-size:1em;
	color:#6c6c6c}

#album_list{ display:block}
#albumbox{display:block;}
#albumbox ul{ 
	display:block;
	width:722px;
	/*padding-top:15px;
	margin:0 0 15px 0*/}
#albumbox li{
	display:block;
	float:left;
	width:208px;
	height:133px;
	padding:10px;
	margin:5px 10px 30px 0;
	border:1px solid #e1d7c3;
	background:#FFF}

/*縮圖圖說設定*/
.abgne_tip_gallery_block {
	margin: 0;
	padding: 0;
	width: 208px;
	height: 133px;
	overflow: hidden;
	position: relative}
.abgne_tip_gallery_block img {
	position: absolute;
	border: 0}
.abgne_tip_gallery_block .caption {
	position: absolute;
	top: 83px;	/* .abgne_tip_gallery_block 的高 - 想顯示 title 的高(這邊是設 55) */
	width: 148px;	/* .abgne_tip_gallery_block 的寬 - .caption 的左右 padding */
	padding: 18px 30px 10px;
	cursor: pointer;
	color: #fff;
	background: url(../images/1px_black.png) repeat}
.abgne_tip_gallery_block .caption h5 {
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",Helvetica, Arial, sans-serif;
	font-size:1em;
	letter-spacing:1px;
	margin: 0 auto;
	padding: 0 0 15px;
	color:#58D2EA;
	text-align:center}
.desc{ font-size:0.813em; text-align:center}	
.desc a{
	text-decoration:none; 
	color:#fff;
	border:1px #fff solid;
	padding:2px 5px;
	margin:0 5px}
.desc a:visited{text-decoration:none; color:#FFF}
.desc a:hover{ 
    text-decoration: none; 
	color:#000/*#FC3*/;
	background:#58D2EA;
	border:1px solid #58D2EA}

.txt_somin{
	display:block;
	float:left;
	font-size:0.75em;
	color:#757575;
	letter-spacing:1px;
	margin:0;
	padding:0 0 15px 10px}
.to_top a{
	display:block;
	float:right;
	width:22px;
	height:22px;
	background:url(../images/btn_top.png) no-repeat;
	text-indent:-9999px;
	margin-right:15px}
.to_top a:hover{background:url(../images/btn_top.png) 0 -22px no-repeat}		
.pp_down{ margin:0 10px 25px 0}

/*2015新作品頁設定*/
.pj_info{
	display:block;
	width:685px;
	padding:30px 15px 15px 24px}
.btn_link a:link {text-decoration:none; color:#fff; background:#3fb5f8; padding:3px 7px}
.btn_link a:visited {text-decoration:none; color:#fff; background:#3fb5f8}
.btn_link a:hover {text-decoration:none; color:#fff; background:#007DB3}
.pj_photo{
	display:block;
	width:685px;
	padding:0 15px 30px 24px}
.pj_photo img{ margin-bottom:5px}

.page_control{ display:block}
.page_control ul{
	display:block;
	float:left;
	width:200px;
	padding:0 0 50px 265px}
.page_control li a{
	display:inline-block;
	float:left;
	width:22px;
	height:22px;
	text-indent:-9999px;
	margin:0 20px}
.page_control .btn_preview{ background:url(../images/btn_pageturn.png) no-repeat}
.page_control .btn_preview:hover{ background:url(../images/btn_pageturn.png) 0 -32px no-repeat}
.page_control .btn_backlist{ background:url(../images/btn_pageturn.png) -32px 0 no-repeat}
.page_control .btn_backlist:hover{ background:url(../images/btn_pageturn.png) -32px -32px no-repeat}
.page_control .btn_next{ background:url(../images/btn_pageturn.png) -64px 0 no-repeat}		
.page_control .btn_next:hover{ background:url(../images/btn_pageturn.png) -64px -32px no-repeat}		

/* 5. 聯絡我們 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#page_left{display:block; float:left; width:354px; font-family:Verdana, Geneva, sans-serif}
#mymap{ display:block; width:350px; height:300px; border:1px solid #DDD}
#page_middle .pt_04{ width:318px; height:22px; background:url(../images/title_about.png) 0 -66px no-repeat}
#page_left h5{ font-size:0.938em; color:#40a3be; margin:0; padding:0}
#page_left p{ margin:0; padding:0}
#page_left ul{ margin:15px 0; padding:0}
#page_left li{ font-size:0.813em; padding-bottom:15px}
#page_left a:link {text-decoration:underline; color:#565555}
#page_left a:visited {text-decoration:underline; color:#8c8c8c}
#page_left a:hover {text-decoration:none; color:#F50}
#page_left .viewbig{ 
    font-size:0.813em; 
	text-align:right; 
	margin:0; 
	padding:5px 15px 25px 0; 
	background:url(../images/icon_view.png) 220px 10px no-repeat;
	text-indent:30px}

#page_right{ display:block; float:right; width:328px; padding-left:40px;}
#page_middle .pt_05{ width:318px; height:22px; background:url(../images/title_about.png) 0 -88px no-repeat}
#web_forms{display:block; width:308px; height:680px/*605px*/; padding-left:20px; overflow:hidden; background:#FFF; border:none}
.link_fb{ padding:40px 0 0 85px}

/* 6. 線上諮詢 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#chatbox{
	display:block;
	width:500px;
	padding:10px;
	margin:0 auto}
#chatbox p{
	font-size:0.813em;
	font-weight:bold;
	color:#FFF;
	line-height:20px;
	padding-bottom:10px}

/* 7. 403、404頁 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
.btn_down{ display:block; width:400px; text-align:right; font-family:Arial, Helvetica, sans-serif; font-size:0.813em}
.btn_down a:link {text-decoration:none; color:#fff; background:#3fb5f8; padding:3px 7px}
.btn_down a:visited {text-decoration:none; color:#fff; background:#3fb5f8; padding:3px 7px}
.btn_down a:hover {text-decoration:none; color:#fff; background:#007DB3; padding:3px 7px}

/* 8. 設計觀點 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#page_middle .pt_10{ width:92px; height:22px; background:url(../images/title_about.png) 0 -198px no-repeat}
#blog_list{display:block;}
#blog_list ul{ 
	display:block;
	width:692px;
	padding:0 15px 15px 15px;}
#blog_list li{
	display:block;
	float:left;
	width:346px;
	padding-bottom:20px}
#blog_list .blist_text{
	display:block;
	float:right;
	width:215px;
	padding-right:20px}
#blog_list .blist_text h5{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",Helvetica, Arial, sans-serif;
	font-size:1em; 
	line-height:35px} 
#blog_list .blist_text h5 a{ color:#40a3be; text-decoration:none}
#blog_list .blist_text h5 a:visited{color:#8c8c8c; text-decoration:none}
#blog_list .blist_text h5 a:hover{color:#F50; text-decoration: underline}
#blog_list .blist_text p{
	font-size:0.813em;
	line-height:20px}
	
/* 9. Retina圖片設定
-----------------------------------------------------------------------------------------------
===============================================================================================*/
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2)
{
#nav li a{
	display:block;
	width:138px;
	height:77px;
	overflow:hidden;
	margin-left:20px;
	text-indent:-9999px}	
#nav li a.nav_00{ background:url(../images/bg_nav@2x.png) 0 -587px no-repeat; background-size:138px 77px}	
#nav li a.nav_01{ background:url(../images/bg_nav@2x.png) no-repeat; background-size:138px 77px}
#nav li a.nav_02{ background:url(../images/bg_nav@2x.png) 0 -149px no-repeat; background-size:138px 77px}
#nav li a.nav_03{ background:url(../images/bg_nav@2x.png) 0 -298px no-repeat; background-size:138px 77px}
#nav li a.nav_04{ background:url(../images/bg_nav@2x.png) 0 -447px no-repeat; background-size:138px 77px}

#page_top .pato_left{ display:block; float:left; width:532px; height:110px; text-indent:-9999px}
#page_top .pato_01{ background:url(../images/bg_h3@2x.png) no-repeat; background-size:532px 110px}
#page_top .pato_02{ background:url(../images/bg_h3@2x.png) 0 -120px no-repeat; background-size:532px 110px}
#page_top .pato_03{ background:url(../images/bg_h3@2x.png) 0 -240px no-repeat; background-size:532px 110px}
#page_top .pato_04{ background:url(../images/bg_h3@2x.png) 0 -360px no-repeat; background-size:532px 110px}
#page_top .pato_05{ background:url(../images/bg_h3@2x.png) 0 -480px no-repeat; background-size:532px 110px}
#page_top .pato_06{ background:url(../images/bg_h3@2x.png) 0 -600px no-repeat; background-size:532px 110px}
}