<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8" lang="zh-tw">
<meta name="Author" content="xuedesign studio" />
<title>[提案] 掌心的茶香-高雄餐飲大學茶園微電影</title>
<link rel="stylesheet" href="css/reset.css"/>
<link rel="stylesheet" href="css/xuedesign_201411.css"/>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
	<script src="http://letskillie6.googlecode.com/svn/trunk/2/zh_TW.js"></script>
<![endif]-->
</head>

<body>
<img id="bg" src="images/bg_site.jpg" alt="background"><!-- 背景大圖更換處 -->

<div id="wrap">
   <div class="box_main">
      <a href="content.html"><img src="images/index.jpg" width="1240" height="758" alt="page_index"></a>
   </div>   
</div> 

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="script/bgsize.js"></script>
</body>
</html>
