<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>【Layout】Passpac</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/xuelayout_201303.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
  <div id="wrap">
       <div class="header"><img src="images/pic_header.png" width="994" height="81" alt="*"></div>
       <div class="pages_box"><a href="index.html"><img src="images/content.jpg" width="994" height="726" alt="*"></a></div>
  </div>
  <footer>
       <div class="copyright"><img src="images/pic_copyright.jpg" width="994" height="61" alt="*"></div> 
  </footer>
</body>
</html>