/**********************************************************************************************

	Title: CSS for green-in-life
	Author: Elmo Wu (by xuedesign studio)
	Date: 2013 / 11   

***********************************************************************************************
		1 通用
		2.版型
		  2.1 網站主選單
		  2.2 完美底部佈局
		  2.3 內文區塊
		  2.4 版權列
		3.客戶服務
		  3.1 聯絡資訊
		  3.2 客戶專區
		4.最新消息
		  4.1 連結列表
		  4.2 新聞區塊
		5.    
		     		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#565555}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 版型  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
h1, h2{ display:none}
header{
	display:block;
	position:fixed;
	width:100%;
	height:179px;
	background:url(../image/bg_content.png) repeat-x}	
	
/*2.1 網站主選單---------------------------*/	
nav{ display:block; width:850px; margin:0 auto}
a.btn_home{
	display:block;
	float:left;
	width:26px;
	height:150px;
	background:url(../image/btn_home.png) no-repeat;
	text-indent:-9999px}
a.btn_home:hover{ background:url(../image/btn_home.png) -26px 0 no-repeat}
nav ul{ display:block; padding-top:63px}		
nav li a{
	display:block;
	float:left;
    width:82px;
	height:87px;
	margin-left:34px;
	overflow:hidden;
	text-indent:-9999px}
.navlist_01{ background:url(../image/nav_content.png) no-repeat}
.navlist_01:hover, .navlist_01.navin{ background:url(../image/nav_content.png) -82px 0 no-repeat}
.navlist_02{ background:url(../image/nav_content.png) 0 -87px no-repeat}
.navlist_02:hover, .navlist_02.navin{ background:url(../image/nav_content.png) -82px -87px no-repeat}	
.navlist_03{ background:url(../image/nav_content.png) 0 -174px no-repeat}
.navlist_03:hover, .navlist_03.navin{ background:url(../image/nav_content.png) -82px -174px no-repeat}	
.navlist_04{ background:url(../image/nav_content.png) 0 -261px no-repeat}
.navlist_04:hover, .navlist_04.navin{ background:url(../image/nav_content.png) -82px -261px no-repeat}	
.navlist_05{ background:url(../image/nav_content.png) 0 -348px no-repeat}
.navlist_05:hover, .navlist_05.navin{ background:url(../image/nav_content.png) -82px -348px no-repeat}	
.navlist_06{ background:url(../image/nav_content.png) 0 -435px no-repeat}
.navlist_06:hover, .navlist_06.navin{ background:url(../image/nav_content.png) -82px -435px no-repeat}	
.navlist_07{ background:url(../image/nav_content.png) 0 -522px no-repeat}
.navlist_07:hover, .navlist_07.navin{ background:url(../image/nav_content.png) -82px -522px no-repeat}							
	
/*2.2 完美底部佈局---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:56px}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block} /* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;} /* End hide from IE-mac */

/*2.3 內文區塊---------------------------*/	
#contenter{
	display:block; 
	width:954px;
	/*min-height:485px;*/ 
	margin:0 auto 20px auto;  
	padding-top:179px;
	/*font-size:0.813em;
	line-height:22px*/}				
	
/*2.4 版權列---------------------------*/	
footer{ 
    display:block;
    position: relative;
    width:100%;
	height:56px;
    background: url(../image/bg_cfooter.png) repeat-x;
    margin-top: -56px}		
.copyright{
	padding-top:5px;
	font-size:0.813em;
	line-height:22px;
	color:#585757;
	text-align:center;
	-webkit-text-size-adjust:none}

/* 3. 客戶服務
-----------------------------------------------------------------------------------------------
===============================================================================================*/
.box_contant{ display:block; width:632px; margin:0 auto}
.box_contant-02{ display:block; width:850px; margin:0 auto; /*padding-right:30px*/}
.box_contant h2; .box_contant-02 h2{ display:none}
.box_contant-02 .title_01{
	font-size:1.5em;
	line-height:35px;
	color:#B4B4B5;
	text-align:right;
	font-weight: normal;
	margin:10px 0 28px 0;
	padding:0 15px 0 0}
.box_contant-02 .title_01 span{	font-size:0.6em; vertical-align:text-bottom; padding-left:15px}	
.box_contant-02 .title_01 a{ text-decoration:none; color:#595758}	
.box_contant-02 .title_01 a:hover{ text-decoration:none; color:#f50}
	
/*3.1 聯絡資訊---------------------------*/		
.contant_left, .contant_right{ display:block; margin-top:50px;}
.contant_left{ float:left; width:288px}
.contant_right{	float:right; width:270px}
.contant_left-02{ float:left; width:520px}
.contant_right-02{ float:right; width:270px; margin:0 30px 0 0}
.custome_login{
	display:block;
	width:288px;
	background:#96d0c1;
	margin-bottom:30px;
	padding:20px 0}
.contact_form{
	display:block;
	width:288px}
.custome_login h3, .contact_form h3{
	display:block;
	width:288px;
	height:17px;
	text-indent:-9999px;
	margin-bottom:15px}
.custome_login h3{ background:url(../image/title_custome.png) no-repeat}
.custome_login span{ 
    display: inline-table; 
	vertical-align:middle; 
	width:13px; 
	font-size:0.813em; 
	line-height:16px; 
	color:#FFF;
	margin-left:32px;
	padding-right:10px}
.contact_form h3{ background:url(../image/title_custome.png) 0 -22px no-repeat}
.contact_form span{ font-size:0.813em}

.mytextarea{ border:none; margin-bottom:10px; padding:5px}
.mytextarea-01{ border:1px solid #b7b6b6; margin-bottom:10px; padding:5px}
.w180{ width:180px}
.w250{ width:220px}

.btn_send{
	display:block;
	width:214px;
	background:#595758;
	margin:15px 0 0 33px;
	padding:5px 0;
	border:none;
	cursor:pointer;
	color:#96d0c1;
	letter-spacing:1px}
.btn_send:hover{ background:#408B78; color:#fff}

.contact_form span{ display: inline-block; width:50px; text-align:right; vertical-align:top}
.down_btn{ display:block; padding-left:45px; color:#888888}
.btn_white{
	display:inline-block;
	background:none;
	border:none;
	cursor:pointer;
	color:#888888}
.btn_white:hover{ color:#f50}

.contant_right ul{}
.contant_right li{
	display:block;
	width:250px;
	min-height:90px;
	background:url(../image/bg_greenline.png) repeat-y;
	margin-bottom:40px;
	padding-left:20px}
.contant_right li h4{ font-size:0.938em; color:#999; padding-bottom:5px}
.contant_right li p{ font-size:0.813em; line-height:22px}

/*3.2 客戶專區---------------------------*/	
.contant_right-02 .btn_vcr{
	display:block;
	width:290px;
	background:#96d0c1;
	font-size:0.813em;
	line-height:28px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	margin-bottom:25px}
.contant_right-02 .btn_vcr:hover{ background:#595758; color:#96d0c1}
.info_pay{ 
    display:block;
	width:258px;
	border:1px solid #96d0c1;
	padding:10px 15px;
	margin-bottom:25px}
.info_pay h3{ 
    font-size:1em; 
	color:#96d0c1; 
	line-height:35px; 
	border-bottom:1px solid #96d0c1; 
	text-align:center}
.info_pay ul{ display:block; padding-top:15px}
.info_pay li{
	font-size:0.813em;
	line-height:20px;
	color:#595758;
	padding:5px 0 5px 10px}
.contant_left-02 h3{
	display:block;
	width:520px;
	background:#96d0c1;
	font-size:0.813em;
	line-height:28px;
	text-align:center;
	color:#FFF;
	margin-bottom:26px}
.working_photo{
	display:block;
	float:left;
	width:275px;
	margin-bottom:18px}
.working_photo img{ margin-left:8px}	
.working_photo a{ border:none; text-decoration:none}	
.working_text{
	display:block;
	float:right;
	width:240px;
	height:44px;
	overflow:hidden;
	font-size:0.813em;
	line-height:22px}

/* 4. 最新消息
-----------------------------------------------------------------------------------------------
===============================================================================================*/				
/*4.1 法令訊息---------------------------*/
.laws_list{ display:block; width:760px; padding-left:90px}
.laws_list li{ 
    font-size:1em; 
	line-height:25px; 
	list-style:decimal outside; 
	color:#77C9B3;
	padding:5px 0}
.laws_list a, .laws_list a:visited{color:#77C9B3; text-decoration:none}
.laws_list a:hover{text-decoration:none; color:#F50}
.turn_page{
	width:100%;
	text-align:center;
	margin-top:25px}
.turn_page li{ display: inline}	
.turn_page a{
	display: inline-block;
	width:20px;
	height:20px;
	margin: 0 10px;
	text-indent:-9999px;
	background:url(../image/btn_page.png) no-repeat}
.turn_page a:hover, .turn_page .page_in{background:url(../image/btn_page.png) -20px 0 no-repeat}

/*4.2 新聞區塊---------------------------*/
.box_news{ display:block; width:850px}
.news_left, .news_right{ display:block; float:left}
.news_left{ width:312px; margin-right:22px}
.news_left h4{font-size:1.125em; font-weight:normal; line-height:25px; color:#77C9B3; margin-bottom:10px}
.news_left p{
	display:block;
	width:312px;
	min-height:100px;
	margin-bottom:17px;
	font-size:0.813em;
	line-height:22px;}
.news_right{ width:516px}
		