/**********************************************************************************************

	Title: CSS for green-in-life
	Author: Elmo Wu (by xuedesign studio)
	Date: 2013 / 11   

***********************************************************************************************
		1 通用
		2.首頁
		  2.1 網站主選單
		  2.2 完美底部佈局
		  2.3 最新消息
		  2.4 版權列		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#565555}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 首頁  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
#wrap{
	display:block;
	width:994px;
	margin:0 auto}
	
/*2.1 網站主選單---------------------------*/	
nav{
	display:block;
	position:relative;
	width:968px;
	margin:135px auto 0;
	padding-left:28px}
nav li a{
	display:block;
	float:left;
	width:110px;
	height:116px;
	margin-right:28px;
	overflow:hidden;
	text-indent:-9999px}
.navlist_01{ background:url(../image/nav_index.png) no-repeat}
.navlist_01:hover{ background:url(../image/nav_index.png) -110px 0 no-repeat}
.navlist_02{ background:url(../image/nav_index.png) 0 -117px no-repeat}
.navlist_02:hover{ background:url(../image/nav_index.png) -110px -117px no-repeat}	
.navlist_03{ background:url(../image/nav_index.png) 0 -234px no-repeat}
.navlist_03:hover{ background:url(../image/nav_index.png) -110px -234px no-repeat}	
.navlist_04{ background:url(../image/nav_index.png) 0 -351px no-repeat}
.navlist_04:hover{ background:url(../image/nav_index.png) -110px -351px no-repeat}	
.navlist_05{ background:url(../image/nav_index.png) 0 -468px no-repeat}
.navlist_05:hover{ background:url(../image/nav_index.png) -110px -468px no-repeat}	
.navlist_06{ background:url(../image/nav_index.png) 0 -585px no-repeat}
.navlist_06:hover{ background:url(../image/nav_index.png) -110px -585px no-repeat}	
.navlist_07{ background:url(../image/nav_index.png) 0 -702px no-repeat}
.navlist_07:hover{ background:url(../image/nav_index.png) -110px -702px no-repeat}							
	
/*2.2 完美底部佈局---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:315px}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

footer{ 
    display:block;
    position: relative;
    width:100%;
	height:315px;
    background: url(../image/bg_index-footer.png) repeat-x;
    margin-top: -315px}

/*2.3 最新消息---------------------------*/	
.box_news{
	display:block;
	width:708px;
	margin:0 auto;
	padding:27px 130px 0 156px}
.box_news h2{ display:none}	
.box_news li a{
	display: block;
	float:left;
	width:200px;
	height:200px;
	background:#FFF;
	margin-right:26px;
	padding:3px;
	text-decoration:none; 
	color:#191919}
.box_news li a:hover{
	-webkit-box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	-o-box-shadow: 0px 0px 10px #000000;
	-ms-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	text-decoration:none; 
	color:#F50}
.box_news img{ border:1px solid #C4C5C6}
.box_news h3{ font-size:0.938em; line-height:25px; padding-left:5px}
.box_news p{ 
    display:block; 
	width:195px; 
	height:16px; 
	font-size:0.813em; 
	line-height:16px; 
	overflow:hidden;
	padding-left:5px}
.box_news .btn_more{ display:block; padding-left:150px; /*color:#A2A2A2*/}				
	
/*2.4 版權列---------------------------*/			
.copyright{
	padding-top:30px;
	font-size:0.813em;
	line-height:22px;
	color:#585757;
	text-align:center;
	-webkit-text-size-adjust:none;}			