<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>【Layout】Passpac</title>
<link href="css/reset.css" rel="stylesheet">
<style type="text/css">
#wrap{display:block; background:url(images/bg_website.png) repeat-x}
.header, .pages_box, .copyright{
	display:block;
	width:994px;
	margin:0 auto}
.header{height:105px}
footer{
	display:block;
	width:100%;
	height:61px;
	background:url(images/bg_footer.jpg) repeat-x}
</style>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
  <div id="wrap">
       <div class="header"><img src="images/pic_header.png" width="994" height="81" alt="*"></div>
       <div class="pages_box"><a href="index.html"><img src="images/pic_pass-send.jpg" width="994" height="784" alt="*"></a></div>
  </div>
  <footer>
       <div class="copyright"><img src="images/pic_copyright.png" width="994" height="61" alt="*"></div> 
  </footer>
</body>
</html>