/**********************************************************************************************

	Title: CSS for green-in-life
	Author: Elmo Wu (by xuedesign studio)
	Date: 2013 / 11   

***********************************************************************************************
		1 通用
		2.首頁
		  2.1 網站主選單
		  2.2 完美底部佈局
		  2.3 最新消息
		  2.4 版權列		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#4b4608}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 首頁  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
#wrap{
	display:block;
	width:1240px;
	margin:0 auto}
.box_main{
	display:block;
	position:relative;
	width:1240px;
	margin:20px auto 0}	
	
	