/*=======================================
This CSS editing completed by Elmo Wu 
@2010/08 IIFUN Inc. All rights reserved
=========================================*/
body {
	margin: 0;
	padding:0;
	background: url(../images/bg_web.png) repeat-x} 

#wrap{
	display:block;
	position:relative;
	width:994px;
	margin:0 auto}
#next_page{
	display:block;
	position:absolute;
	width:994px;
	height:620px;
	top:0;
	left:0;
	z-index:999}	
#toper{
	display:block;
	position:relative;
	width:994px;
	height:255px}
#banner{
	display:block;
	width:994px;
	height:255px}	
#subnav{
	display:block;
	position:absolute;
	width:994px;
	height:255px;
	top:0;
	left:0;
	background:url(../images/bg_toper.png) no-repeat}	
#contenter{
	display:block;
	width:994px;
	height:332px}
#cont_left{
	display:block;
	float:left;
	width:595px;
	height:332px;
	background:url(../images/bg_mainleft.png) no-repeat;
	text-indent:-9999px}
#cont_right{
	display:block;
	float:right;
	width:399px;
	height:332px;
	background:url(../images/bg_mainright.png) no-repeat;
	text-indent:-9999px}
#company_vision{
	display:block;
	width:339px;
	height:176px;
	margin:45px 0 0 16px}	
#footer{
	clear:both;
	display:block;
	width:994px;
	height:33px;
	background:url(../images/bg_footer.png) no-repeat;
	text-indent:-9999px}
