@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/gb.png);
	background-repeat: repeat;
}
h1{margin:0;/*去除與上方的間距*/ 
   text-indent:-999px/*把文字推至遠方*/}

<!---------------------- 網頁內容 ---------------------------->
#website{ display:block; width:100%; margin:0 auto; text-align:center;}
#top{display:block; width:994px; height:97px; margin:0 auto;background:url(../images/top.jpg) no-repeat}
#body_01{display:block; width:994px; height:770px; margin:0 auto;background:url(../images/body_01.jpg) no-repeat}
#elmo{display:block; width:949px; height:765px; margin-left:20px}
#foot{display:block; width:994px; height:33px; margin:0 auto;background:url(../images/foot.jpg) no-repeat}

