/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2012 / 08   

***********************************************************************************************
		1 通用
		2.首頁
		3.關於我們
		4.服務項目
		5.合作夥伴
		6.聯絡我們		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	background: url(../images/bg_site.png) repeat-x #87c7f3 /*url(../images/bg.jpg)*/;
	font-family:/*"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",*/Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#565555}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 首頁  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{
	display:block;
	width:994px;
	margin:0 auto}	
